.on {
    transition: all 0.3s ease-in-out;
}

.a-completion {
    &.off {
        opacity: 0;
        transform: translateX(-10px);
    }

    &.on {
        opacity: 1;
        transform: translateX(0);
    }
}

.a-fade.off {
    opacity: 0;
}

.a-pop.off {
    transform: scale(0);
}
