<section class="frame about page">
    <h1 class="page-title">About Me</h1>

    <section class="likes page-content">
        <h2 class="page-subtitle likes" data-order="1" data-anim="pop">Things I Like</h2>
        <ul class="likes-list" data-order="2" data-anim="completion">
            <li class="likes-list-item">C#<span class="mute">.ToString()</span></li>
            <li class="likes-list-item"><span class="mute">prototype.</span>javaScript<span class="mute"> = () => {};</span></li>
            <li class="likes-list-item"><span class="mute">def</span> Ruby <span class="mute">end</span</li>
            <li class="likes-list-item"><span class="mute">{ :</span>Erlang<span class="mute">, :</span>Elixir<span class="mute"> }</span></li>
            <li class="likes-list-item"><span class="mute">Assert.IsLiked(</span>Testing<span class="mute">)</span></li>
        </ul>
    </section>

</section>

