<section class="frame work page">
    <h1 class="page-title" data-order="1">Where I've Worked</h1>

    <div class="split">

        <div class="split-item">
            <section class="timeline">
                <ul>
                    <li class="timeline-item job"
                        data-order="2"
                        data-anim="pop"
                        data-event='{ "name": "showLocation", "args": { "lat": "52.955399", "long": "-1.156623" }}'>

                        <h1 class="job-title">Bizfitech</h1>
                        <span class="job-position">Senior Developer</span>
                    </li>
                    <li class="timeline-item job"
                        data-order="3"
                        data-anim="pop"
                        data-event='{ "name": "showLocation", "args": { "lat": "52.928671", "long": "-1.471369" }}'>

                        <h1 class="job-title">Fish Media</h1>
                        <span class="job-position">Web Applications Developer</span>
                    </li>
                </ul>
            </section>
        </div>

        <div class="split-item">
            <div id="work-map" data-order="2" data-anim="pop"></div>
        </div>

    </div>

</section>

