<!DOCTYPE html>
<html>
<head>
    <title>C.V</title>
    <link href='https://fonts.googleapis.com/css?family=Lobster|Playfair+Display+SC:400,400italic,700,900italic,900,700italic|Roboto:400,100,100italic,300,300italic,400italic,500,500italic,700,700italic,900,900italic|Lobster+Two' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="css/main.css" />
    <link rel="stylesheet" href="css/mapbox-gl.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
</head>

